*.o
*.so
ui_*.h
qrc_*.cpp
moc_*.h
moc_*.cpp
*.moc
*.prl
*.a
# Ignore Makefiles except the one for packaging
Makefile
!packaging/linux/Makefile
*.cache
src/bossa
*.user
*.qm
*.dot
*.frag
*.log
.directory
*.orig
src/qml/export-edl/node_modules
*.qmlc
*.jsc
.project
/.qmake.stash
packaging/linux/org.bossa.Bossa.metainfo.xml
build/
*.Debug
*.Release
*.exe
packaging/windows/bossa.rc
*cmake_install.cmake
.ninja_*
build.ninja
rules.ninja
CMakeCache.txt
*CMakeFiles/
CuteLogger/CuteLogger_autogen/
install_manifest.txt
share/
src/shotcut_autogen/
src/bossa_autogen/
.qt
translations/.lupdate
.DS_Store
scripts/build-bossa.conf
*~
